
body{
    background-color: rgb(44, 44, 44);
    margin: 0px;
    
}
  



#title{
    color: goldenrod;
    font-family: "Bona Nova SC", sans-serif;
    font-weight: bold;
    text-decoration: dotted un;
    font-size: 40px;
    border-top: dotted ;
    border-bottom: dotted;
    border-color: goldenrod;
    border-top-width: 5px;
    border-bottom-width: 5px;
    
}
#title:hover{
    text-shadow: 0px 0px 5px goldenrod;
}


h2{
    color: rgb(161, 83, 9);
}


#Welcome{
    color: goldenrod;
}
   
a:link{
    color: orange;
}

a:visited{
    color: grey;
}

a:hover{
    color: tomato;
}
    
        
#p1{
    color:rgb(255, 51, 0);
    background-color: rgb(135, 222, 171);
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}

#divp2{
    background-color: blue;
    border: 5px solid;
    width: 250px;
    height: 250px;
    margin-top: 2%;
    margin-left: 50%;
}

.even{
    color: aquamarine;
}






#tvimage{
    position: absolute;
    top: 1000px;
    left: 250px;
}

li:nth-child(2n){
    background-color: aqua;
    width: 10%;
}

.fa-house{
    color: white;
    position: absolute;
    top: 120px;
    left: 2%;
}

#box1{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 225px;
    text-align: center;
    background: blue;

    transform: translateX(50px);
    
}

.fa-house:hover{
    animation: mySize;
    animation-duration: 1s;
    animation-fill-mode: forwards
    
}
.fa-house:hover{
    text-shadow: 0px 0px 10px goldenrod;

}

@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-left: 100%;}
}

@keyframes mySize{
    from{transform: scale(1,1);}
    to{transform: scale(0.9,0.9);;}
}