
body{
    background-color: rgb(31, 30, 30);
    }


#title{
    color: #ff0000;
    font-family: "Bona Nova SC", sans-serif;
    font-weight: bold;
    text-decoration: dotted underline;
    font-size: 40px;

}
h2{
    color: rgb(89, 0, 255);

    }
        
#p1{
    color:rgb(255, 51, 0);
    background-color: rgb(135, 222, 171);
}

#divp2{
    background-color: blue;
}

.even{
    color: aquamarine;
}